<div class="border-bottom" style="margin-bottom: 16px;">
  <div class="row">
    <div class="col-9">
      <h4>
        {{job['title']}}
      </h4>
      
        <div>
          <b>Location:</b> {{job['location']}}
        </div>
      
        <div>
          {% if 'Salary' in job %}
            <div>
              <b>Salary:</b> {{job['Salary']}}
            </div>
          {% endif %}
        </div>
    </div>
    <div class="col-3">
       <button type="button" class="btn btn-outline-primary">Apply</button>
    </div>
  </div>
</div> 